
{% extends 'blog/base.html' %}
{% load staticfiles %}


{% block content %}




  <!-- begin container bodier -->
  <div class="container bodier">
        <!-- begin about container -->

        <div class="jumbotron text-center">

                 <h1 id="name-form">GoldenBloodGirls<sup>&copy;</sup></h1><h3>russian colonial corporation </h3>
            <!--hidden-xs-->

        </div>
        <div class="row intro">
                          <div class="hidden-xs col-md-4 col-sm-4 pro"><p> Лицензия комиссии искусственных существ администрации Американских Объединенных Территорий<br />
                Лицензия бюро искусственного интеллекта Европейского Союза<br />
                Лицензия комитета искусственного интеллекта Китайского Союза Свободных Республик<br />
                Лицензия администрации Колониальной Администрации Общей Сибири<br />
                Все права защищены общей декларацией авторских прав<br />
                Не является публичной оффертой<br />
                Единая линия поддержки клиентов - saturn@gmail.com, постфикс вербальной связи - *721 <br /></p>
                <h4 class="text-info">Удовольствия будущего доступны сейчас!</h4>


                          </div>

                        <div class="hidden-xs col-md-8 col-sm-8"></div>
        </div>

        <div class="main row">
          <div tabindex="0" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 line"><img src="{% static 'img/1.jpg' %}" class="img-responsive img-thumbnail" alt="Responsive image" /><p>Мы производим andy-тян с 2022 года и являемся лидерами на всем колониальном пространстве. В производстве используется только генетически подобные материалы. Вагины наших andy-тян неотличимы от натуральных по всем тестам Вудлера. Вы будете приятно удивлены дешевизной их обслуживания, плюс годовая гарантия на кожные и волосяные покровы.</p>
<p>
Оснащение самой современной системой искусственного интеллекта, позволит вашей игрушке полностью инкорпорироватся в общество и выполнять не только сексуальные, но и простейшие бытовые услуги. Круглосуточная техническая поддержка поможет в самой трудной ситуации. Ограничение физической мощности по отношению к хозяину делает наших andy-тян полностью безопасными и покорными.</p>
<p>
При этом это далеко не так по отношению к вашим врагам и нежелательным гостям. Ваша andy-тян легко спровадит настойчивого посетителя и сохранит ваше имущество от хищения. Во время вашего отсутствия на сможет заниматься домашними делами, так и переходить в спяще-следящий режим. </p>
<p>
Как видите, наши andy-тян лучшее приобретение для самостоятельного мужчины, не желающего тратить огромные бюджеты на создание гражданской семьи.</p> </div>
          <div tabindex="0" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 line"><img src="{% static 'img/2.jpg' %}" class="img-responsive img-thumbnail" alt="second" /><p>Теперь мы рады представить миру новый уровень и поколение  - беременноспособных тней. Да, вы не ослышались, мы запускаем способных к репродукции andy-тян. Вы сможете запланировать беременность вашей подруги и вживую наблюдать за процессом. Следить за развитием плода на всех уровнях. В сексуальном плане доступна полная адоптация поведенческих процессов от уровня - "я тяжолая, мне нельзя", до - "ему ничего не грозит, суй глубже".
</p>
<p>
По вашему желанию andy-тян может залететь в удобное время и продуцировать все типичные проблемы беременных женщин, от токсикоза и истерик, до выкидыша. А когда придем время, наши специалисты примут роды в вашем присутствии. Возможны все известные технологии от индейских родов сидя, до домашних водных родов. Мы гарантируем рост малыша до трехмесячного возраста. Затем вы сможете сдать его на регенерацию. Учтите то, что даже во время беременности остальные функции наших andy-тян могут уменьшаться или иметь влияние на процесс вынашивания только по вашему желанию.
</p><p>
Никогда еще игрушка не позволяла познать радость отцовства в такой реалистичности! Спешите сделать предзаказ по специальной цене.</p>
</div>
          <div tabindex="0" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 line"><img src="{% static 'img/3.jpg' %}" class="img-responsive img-thumbnail" alt="third" /><p>Вся наша продукция доступна в любом человеческом обличии. Вы можете заказать одну из четырех человеческих рас. Мы можем произвести andy-тян по предоставленным вами метрикам или в соответствии смедиаконтентом. Кожные покровы производятся с применением генетически подобных материалов и оснащаются всей тактильной реакционной активностью обычной человеческой кожи. Графеновый скелет с пожизненной гарантией. Максимальная энергетическая независимость до трех суток. Полный спектр поведенческого программирования на основе эмоциональных карт.
</p>
<p>Полное страхование на любые несчастные случаи в результате поведенческих аномалий. Наши andy-тян любят любить хозяина и не склонны к самопознанию. Блокировка экзистенциальных стремлений на уровне основной электроники. Защита от вредоносного программного контента с помощью бесплатного патентованного антивируса. Блокатор вирусного женского шоппинга на основе ограничения умственной деятельности.</p>

<p>Наша программа рестайлинга делает доступным индивидуально подходить к дизайну любых внешних и внутренних органов. А система трейдина позволит существенно экономить при замене наскучившей andy-тян. Трахайте каждый год новую девку!</p></div>
          <div tabindex="0" class="col-xm-3 col-sm-3 col-md-3 col-lg-3 line"><img src="{% static 'img/4.jpg' %}" class="img-responsive img-thumbnail" alt="fourth" /><p>Теперь на весь спектр нашей продукции доступен предзаказ. Все параметры вы можете передать в форме ниже. Обратите внимание, что это просто предзаказ без гарантий. Оставьте нам свои контакты и мы обязательно свзяжемся с вами по мере доступности к выпуску товара.
</p><p>
Внимательно отнеситесь к заполнению формы. Мы поставляем товар в формате "как было описано", дополнительную правку вы сможете сделать только единожды, когда с вами свяжется наш менеджер. Все опции поведенческого программирования доступны по факту релиза программного обеспечения на дату выпуска продукта. Цена модели определяется индивидуально.
</p><p>
Данный сайт является формой рекламного информирования. Мы отрицаем политику равенства искусственного разума. Использование человеческих органов в моделях исключено. Правила использования и утилизация andy-тян, а равно и репродуктивных материалов, ограничены местным законодательством. Корпорация оставляет за собой право обновления программного обеспечения, без уведомления клиента. Все права защищены. </div>
      </p>  </div>
		</div>
            <div class="row intro">
                          <div class="col-xs-12 hidden-md hidden-sm hidden-lg pro"><p> Лицензия комиссии искусственных существ администрации Американских Объединенных Территорий<br />
                Лицензия бюро искусственного интеллекта Европейского Союза<br />
                Лицензия комитета искусственного интеллекта Китайского Союза Свободных Республик<br />
                Лицензия администрации Колониальной Администрации Общей Сибири<br />
                Все права защищены общей декларацией авторских прав<br />
                Не является публичной оффертой<br />
                Единая линия поддержки клиентов - saturn@gmail.com, постфикс вербальной связи - *721 <br /></p>
                <h4 class="text-info">Удовольствия будущего доступны сейчас!</h4>


                          </div>


        </div>

        <div class="row">

          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 rover"><p><h2>ИНИСТРУКЦИИ ДЛЯ ЗАПОЛНЕНИЯ ФОРМЫ</h2></p></div>
          <div class="row">
            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 instruction">
            <p> Как уже говорилось ранее, правильное заполнение формы поможет нам сконструировать именно для вас наиболее подходящую andy-тян. Здесь мы поясним заполнение некоторых пунктов.
</p> <p>
Пункт возраст нисколько не влияет на внешний вид игрушки. У каждой andy-тян есть своя легенда, как у человека есть биография. Она прекрасно помнить свою жизнь, даже которую не жила. И пункт возраст как раз обозначает продолжительность легенды, за которую ваша игрушка будет понимать свою жизнь. Человекоподобные роботы прекрасно знают, что они человекоподобные роботы и сделаны пару месяцев назад и не жили легенду. Однако понимание этой информации, ее подробное обдумывание и анализ, заблокирован на уровне программирования. Сделано это с единственной целью - невозможно скрыть от человека, что он чья-то игрушка, но можно купировать осознание этого факта.
</p><p>
Можно считать выбор цвета глаз только цветом глаз. Тем более этот параметр легко изменить с помощью контактных линз. Нам стоить только заметить, что этот параметр имеет некоторое влияние светочувствительность зрительной матрицы. Если вам не важен цвет глаз вашей andy-тян - выбирайте темные колоры, и она будет лучше видеть в темноте.
</p><p>
Мы выпускаем andy-тян в четырех расах, понимая под этим только распространенные типы внешнего вида человеческих самок. Их на данный момент четыре - европейская, африканская, монголоидная (китай) и азиатская. Больше этот параметр влияет на цвет кожных покровов, поскольку внешний вид проектируется чаще согласно данным медиаконтента.</p>
            </div>
            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 instruction">
              <p>Цвет волос любая женщина, включая андроидов, может менять два раза в день. Но мы вам советуем тоже выбрать более темные колоры. Замечено, что они более долговечны и лучше выдерживают многократное перекрашивание. Однако, традиционно мы формируем более наивные поведенческие карты для носительниц светлых волос. Тут под наивностью понимается не умственные способности, но в отсутствии к склонности поведенческой запутанности психики.
</p><p>
Размер груди наиболее популярный пункт. Принято понимать, что мужчины склонны к более большим размерам. В случае с andy-тян это влияет на энергонезависимость. Здесь могут быть расположены дополнительные энерготанки. Таким образом тяга к большой груди может быть оправдана, хотя несколько влияет на стоимость модели. Однако мы не еще не встречали мужчин, готовых экономить на сиськах.
</p><p>
Диаметры таза и талии трудно комментировать, но не советуем слишком увлекаться их различием. Стоить помнить, что чем органичней выглядит тело вашей любовницы, тем дольше оно вам не наскучит.
</p><p>
Пункт размер обуви больше относится к футфетишистам. Мы не видим в этом увлечении ничего плохого. Во всяком случае, лизать пятки любимой женщины лучше, чем нелюбимому начальнику. Кажется, в какой-то мере первое может компенсировать второе. </p> <p><h2>welcome to future...</h2></p>
            </div>
          </div>
        </div>
  </div>
  <!-- end container bodier -->

  <div class="footer row">
  {% if errors %}
  	  <ul>
  		  {% for error in errors %}
  			  <li style="color: red;">{{ error }}</li>
  		  {% endfor %}
  	  </ul>
  	  {% endif %}


  <form id="data" action="/message/index.html" method="post">
    {% csrf_token %}
    <div class="col-xs-12 col-sm-12 col-md-3 contacts">

  	<ul class="contact-form">
  		<li>

  		<label  class="col-form-label" for="age">&nbsp;&nbsp; Выбор возраста</label>

  		<input form="data" id="age" class="form-control" type="number" size="3" name="age" min="18" max="50" value="{{ form.age }}" required>


  	  </li>
  	  <li>
  		<label for="eye-color" class="col-form-label">&nbsp;&nbsp;Цвет глаз</label>

  		 <input form="data" class="form-control" type="color" value="#3c59e7" id="eye_color" name="eye_color" required>

  	  </li>
  	  <li><label for="sel1">&nbsp;&nbsp;&nbsp;&nbsp;Выбор расы</label>
  				  <select class="form-control input-mini" id="rice" name="rice" value="{{ form.rice}}">
  					<option>Европа</option>

  					<option>Азия</option>

  					<option>Африка</option>

  					<option>Китай</option>
  				  </select>
  				  </li>

  		<li>
  		  <label  class="col-form-label" for="boobs">&nbsp;&nbsp;Размер груди</label>

  		<input form="data" id="boobs" class="form-control" type="number" size="3" name="boobs" min="0" max="7" value="{{ form.boobs }}" required>
  		</li>
  	</ul>



    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 contacts">
    <ul class="contact-form">
  		<li>
  		  <label  class="col-form-label" for="tail">&nbsp;&nbsp;Диаметр талии</label>

  		<input form="data" id="tail" class="form-control" type="number" size="60" name="waist" min="35" max="80" value="{{ form.waist }}" required>
  		</li>
  		<li>
  		<label for="hair-color" class="col-form-label">&nbsp;&nbsp;Цвет волос</label>

  		 <input form="data" class="form-control" type="color" value="#e0e0d8" id="hair_color" name="hair_color" required>

  	  </li>
  		<li>
  		  <label  class="col-form-label" for="tail">&nbsp;&nbsp;Диаметр таза</label>

  		<input form="data" id="taz" class="form-control" type="number" size="90" name="taz" min="60" max="120" value="{{ form.taz }}" required>
  		</li>
  		<li>
  		  <label  class="col-form-label" for="tail">&nbsp;&nbsp;Размер обуви</label>

  		<input form="data" id="foot" class="form-control" type="number" size="35" name="foot" min="30" max="45" value="{{ form.foot }}" required>
  		</li>
    </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 contacts">

  	<ul class="contact-form">
  	  <li>
  		<label for="name">&nbsp;&nbsp;</label>
  		<input form="data" type="text" name="author" placeholder="Your name" value="{{ form.author }}" required />

  	  </li>
  	  <li>
  		<label for="name">&nbsp;&nbsp;</label>
  		<input form="data" type="text" name="title" placeholder="Country" value="{{ form.title }}" required />

  	  </li>

  	  <li>
  		<label for="email">&nbsp;&nbsp;</label>
  		<input form="data" id="email" type="email" name="email" placeholder="Your email" value="{{ form.email }}" required />

  	  </li>

  	  <li>
  		<label for="message">&nbsp;&nbsp;</label>
  		<textarea form="data" name="message" placeholder="Особые пожелания" cols="70" rows="4">{{ form.message }}</textarea>
  	  </li>
  	  <li>
  	  {{ form.as_p }}
  	   <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LdZYDAUAAAAAGAMz9NefClsPmsoxiiCbtdjn6wU"></div>
  	   </li>
  	   <li>

  		<button form="data" class="submit btn btn-link" type="submit" placeholder="Send" >Отправить</button>
  	  </li>
  	</ul>
  	{% if messages %}
    <ul class="messages">
  	  {% for message in messages %}
  		  <li class="{{ message.tags }}">
  			  {{ message }}
  		  </li>
  	  {% endfor %}
    </ul>
  		  {% endif %}

  	</form>
    </div>






  {% endblock content %}

   {% block footer %}




   {% endblock %}
