body {
  font-family: "Exo 2", serif;
  line-height: 1.7;
  padding-top: 52px;
  background-color: #C7BA91;
  background-image: url("../img/girls1.jpeg");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-size: 100% auto;
  width: auto;
  backface-visibility: hidden;
  overflow-x: hidden;
}