{% load staticfiles %}

<!--

   Copyright literary texts
   Oleg Bezgachev 2017
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.


-->
    <html>
        <head>
            <title>android pregnant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="description" content="New able to reproduce humanoid robots. Andy-Chan for your order and metrics. A new future now. ">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!--awesome-->
<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">

<link rel="stylesheet" href="{% static 'css/base.css' %}">



        </head>
        <body>
            <div id="page-preloader"><i class="antispam fa fas fa-power-off"></i>

             </div>



  <!-- begin container header -->
  <div class="header" id="header">

        <nav class="navbar navbar-inverse navbar-fixed-bottom">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>

                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                    <li><a href="#header" title="Вверх"><small><i class="fa fa-arrow-up" aria-hidden="true"></i></small></a></li>
                    <li class="divider"></li>
                    <li><a href="#about" title="Кто мы"><small><i class="fa fa-user-o" aria-hidden="true"></i></small></a></li>
                    <li class="divider"></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="" title="Истории о наших andy-тян"><i class="fa fa-file-text-o" aria-hidden="true"></i><span class="caret"></span><small></small></a>
                    <ul role="menu" class="dropdown-menu">
                      <li><a href="{% static 'plazma.html' %}" target="_blank">history1</a></li>
                      <li class="divider"></li>
                      <li><a href="{% static 'laser.html' %}" target="_blank">history2</a></li>
                      <li class="divider"></li>
                      <li><a href="{% static 'welding.html' %}" target="_blank">history3</a></li>
                    </ul>
                    </li>



                  </ul>

                </div>
              </div>
        </nav>
  </div>
  <!-- end container header -->



                {% block content %}
                {% endblock %}





        </body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.transit.min.js' %}"></script>
    </html>
