
{% extends 'blog/base.html' %}
{% load staticfiles %}

<html>


<head>

</head>	
<body>
{% block content %}
	   <!-- preloader -->
 <div id="page-preloader"><div>loading...</div>
 </div>
    <!-- begin iside -->
    <div class="iside">
        <!-- begin iside-name -->
        <div class="iside-name">
            <span id="iside-name">I'M OLEG</span><br>
        </div>
        <!-- begin inside-p -->
        <div class="inside-p">
            <span id="inside-p"  class="marks">GOOD NEWS, EVERYONE!</span>
        </div>
        <!-- end inside-p -->
        <!-- begin menu -->
        <div class="menu-p">
            <ul class="menu">
            <li class="divider"><a href="#scills">SKILLS</a></li>
            
                <li><svg width="150" height="34"><line x1="0" y1="20" x2="150" y2="20" stroke-width="1" stroke="black"/></svg></li>
            <li class="divider"><a href="#education">EDUCATION</a></li>
                <li><svg width="150" height="34"><line x1="0" y1="20" x2="150" y2="20" stroke-width="1" stroke="black"/></svg></li>
            <li class="divider"><a href="#exper">EXPIERENCE</a></li>
                <li><svg width="150" height="34"><line x1="0" y1="20" x2="150" y2="20" stroke-width="1" stroke="black"/></svg></li>
            <li class="divider"><a href="http://ekaterinburg.hh.ru/resume/b3dec478ff0391bc880039ed1f44466443426b">PORTFOLIO</a></li>
                <li><svg width="150" height="34"><line x1="0" y1="20" x2="150" y2="20" stroke-width="1" stroke="black"/></svg></li>
            <li class="divider"><a href="#articles">ARTICLES</a></li>
                <li><svg width="150" height="34"><line x1="0" y1="20" x2="150" y2="20" stroke-width="1" stroke="black"/></svg></li>
            <li class="divider"><a href="none">PRICING</a></li>
                <li><svg width="150" height="34"><line x1="0" y1="20" x2="150" y2="20" stroke-width="1" stroke="black"/></svg></li>
            <li class="divider"><a href="mailto:saturn721@gmail.com?subject=Circle Around&body=Some blah" target="_blank">CONTACTS</a></li>
            </ul>
        </div>
        <!-- end menu -->
        <!-- end iside-name -->
    </div>
    <!-- end iside -->

    <div class="wrapper container-fluid">

    <header>
        
        <div class="row">
                <div class="hidden-xs col-sm-5 col-md-5 col-lg-5">
                    
                </div>
                <div class="hello col-xs-12 col-sm-7 col-md-7 col-lg-7">
                
                    <span id="hello">ПРИВЕТ, МЕНЯ ЗОВУТ</span><br>
                    <span id="hello-bot">ОЛЕГ <span class="marks">БЕЗГАЧЕВ</span></span>
                        
                </div>
        
        <!-- begin hello-bot -->
                    <div class="hidden-xs col-sm-5 col-md-5 col-lg-5">
                                
                    </div>
                    <div class="hello-bot col-xs-12 col-sm-7 col-md-7 col-lg-7">
                        <div class="marks"><span>ЛУЖУ, ПОЯЮ, САЙТЫ ВЕРСТАЮ</span></div>
                    </div>
        <!-- end hello-bot -->
        <!-- begin images1 -->
        

        <!-- begin intro -->
                    <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
                                            
                    </div>
                    <div class="intro col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <span>Привет всем. От <span class="marks">хорошего человека</span> и замечательного <span class="marks">работника</span>. Курган, РОССИЯ. У меня нет высоких рангов и статусных образований. Я просто живу в стране, в которой лучше уметь все. А главное, выживать и оставаться оптимистом. </span>
                    </div>
                    <div class="col-xs-hidden col-sm-1 col-md-1 col-lg-1">
                                            
                    </div>
        <!-- end intro -->
                        <div class="hidden-xs col-sm-2 col-md-3 col-lg-3">
                                                            
                        </div>
                        <div class="col-xs-12 col-sm-10 col-md-9 col-lg-9" >
                        <ul class="one">
                        <li> <a target="_blank" title="портфолио на hh.ru" href="http://ekaterinburg.hh.ru/resume/b3dec478ff0391bc880039ed1f44466443426b">РЕЗЮМЕ</a></li>
                        <li> <a href="mailto:saturn721@gmail.com?subject=Circle Around&body=Some blah" name="emailLink" target="_blank">КОНТАКТЫ</a></li>
                        </ul>
                        </div>
        </div>
    </header>
    <!-- begin bodier -->
    <div class="bodier">
        
            <!-- begin row -->
            <div class="skills row">
                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                    
                </div>

                <div id="scills" class="title-row col-xs-10 col-sm-10 col-md-9 col-lg-3">
                    СПОСОБНОСТИ
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-4 col-md-offset-3"><div class="rule">Наладка и ремонт промышленного сварочного и газоплазморезательного оборудования. Различных отечественных и иностранных марок</div>
                    <!-- begin progress -->
                    <div class="progress">
                    
                     <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:90%">  90%
                     </div>
                    <!-- end progress -->
                     </div>
                </div>
                
                <div class="col-md-4 col-md-offset-1"><div class="rule">Резьба по дереву. Ручная работа. Изготовление домашней посуды и утвари, декоративных украшений.</div>
                    <!-- begin progress -->
                    <div class="progress">
                    
                         <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"> 70%
                     </div>
                     </div>
                    <!-- end progress -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-3"><div class="rule">Копирайт и рерайт текстов. Нейминг. Написание статей на заказ и по выбранным темам. Продано более 100 статей на крупнейшей бирже textsale.ru. Выполнение творческих заданий на ресурсе e-generator.ru. Совместные переводы на translatedby.com. </div>
                    <!-- begin progress -->
                    <div class="progress">
                    
                     <div class="progress-bar" role="progressbar" aria-valuenow="70"  aria-valuemin="0" aria-valuemax="100" style="width:60%"> 60%
                     </div>
                     <!-- end progress -->
                    </div>
                    
                </div>
                     <div class="col-md-4 col-md-offset-1"><div class="rule">Верстка. HTML, CSS, JQuery. Верстаю и буду верстать. Да прибудет со мной Патрег. Активно осваиваю вебверстку из шаблонов. Этот сайт может третья версия личной страницы и вторая, которая верстается из шаблона. Хотя творчески перерабатывается</div>
                        <!-- begin progress -->
                        <div class="progress">
                        
                         <div class="progress-bar" role="progressbar" aria-valuenow="70"  aria-valuemin="0" aria-valuemax="100" style="width:10%"> 10%
                         </div>
                        <!-- end progress -->
                    </div>
                    
                    </div>
            </div>
        
                  
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                    
                </div>

                <div id="education" class="title-row col-xs-10 col-sm-10 col-md-9 col-lg-3">
                    ОБРАЗОВАНИЕ
                </div>


            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-3 educate">
                        <div class="teh">Курганский Машиностроительный Техникум. </div>
                    
                </div>
                <div class="col-xs-12 col-md-4 col-md-offset-1 educate">
                        <div></div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                    
                </div>

                <div class="title-row col-xs-10 col-sm-10 col-md-9 col-lg-3">
                    БЛОГ 
                </div>


            </div>
            <div id="exper" class="row">
            <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                
            </div>
                <div class="col-xs-10 col-sm-10 col-md-9 col-lg-3">
                
                    {% for post in posts %}
                        <div class="post">
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                        <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                        {% endfor %}
                
                     </div>
            </div>
            <div class="row">

                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                    
                </div>

                <div class="title-row col-xs-10 col-sm-10 col-md-9 col-lg-3">
                    ПРИМЕРЫ РЕЗЬБЫ
                </div>


            </div>
            <div class="row">
               
                <div class="col-xs-12 col-md-4 col-md-offset-3 project">
                   <div class="thumbnail">
                          <a href="{% static 'images/s2.2.jpg' %}" target="_blank">
                                <div><img src="{% static 'images/s2.2.jpg' %}" class="img-rounded img-responsive" alt="img"></div>
                                 <div class="caption">
                                  <p>Резные ложки свадебные ручной работы. Из целого куска дерева. </p>
                                </div>
                        
                         </a>
                  </div>
               </div>

                <div class="col-xs-12 col-md-4 col-md-offset-1 project">
                  <div class="thumbnail">
                          <a href="{% static 'images/idol7.jpg' %}" target="_blank">
                        <div><img src="{% static 'images/idol7.jpg' %}" class="img-rounded img-responsive" alt="img"></div>
                          <div class="caption">
                                  <p>Славянские боги-идолы. Различной тематики. Это Дедушка-леший.</p>
                                </div>
                        
                         </a>

                  </div>
                 </div>
               

            </div>
            <div class="row">

                <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                    
                </div>

                <div id="articles" class="title-row col-xs-10 col-sm-10 col-md-9 col-lg-3">
                    СТАТЬИ
                </div>
            </div>
            <div class="row lines">
                <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
                    
                </div>
                <div class="hidden-xs col-sm-1 col-md-1 col-lg-1">
                    
                </div>
                <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1">
                    
                </div>

                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 line flip1">
                    click me
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 line flip2">
                    click me
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 line flip3">
                    click me
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 line flip4">
                    click me
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 line flip5">
                    click me
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 line flip6">
                    click me
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 line flip7">
                    
                </div>
                <div class="col-xs-1 col-sm-2 col-md-1 col-lg-1">
                    <img src="{% static 'images/arrow.svg' %}" alt="">
                </div>
            </div>
            <div class="row slider">
                <div class="hidden-xs hiddensm col-md-2 col-md-offset-3 col-lg-2 col-md-offset-3 article art1">
                    <img src="{% static 'images/weld.jpg' %}" width="310px" height="213px" alt="">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1 article art1">
                    <h4>Будущее за лазерной сваркой.</h4>
                    <a href="{% static 'laser.html' %}" target="_blank"><p>Сварка с помощью лазерного луча в России сейчас практически не применяется. Это связано с общим технологическим отставанием нашей страны. Меж тем, многое говорит, что будущее за этой технологией. Тут почти все преимущества на стороне лазерного луча</p></a>
                </div>

                <div class="hidden-xs hidden-sm col-md-2 col-md-offset-3 col-lg-2 col-md-offset-3 article art2">
                    <img src="{% static 'images/metalworking.jpg' %}" width="310px" height="213px" alt="">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1 article art2">
                    <h4>Визуальный способ диагностики качества реза при плазменной резке.
</h4>
                    <a href="{% static 'plasma.html' %}" target="_blank"><p>В производстве крупных сварных конструкций плазморезательная резка применяет наиболее часто. Здесь ее до сих пор не вытеснил лазер. При этом настройка приемлемого качества реза при плазме довольно не тривиальный процесс. Самая распространенная проблема - "град". Так называют шлаковые отложения на кромке реза. Этот недостаток приводит к дополнительной обработке детали перед дальнейшей сборкой. </p></a>
                </div>

                <div class="hidden-xs hidden-sm col-md-2 col-md-offset-3 col-lg-2 col-md-offset-3 article art3">
                    <img src="{% static 'images/weld2.jpg' %}" width="310px" height="213px" alt="">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1 article art3">
                    <h4>О предварительном прогреве металла перед сваркой.
</h4>
                    <a href="heat.html" target="_blank"><p> Предварительный прогрев используется давно. Это классика при сварочном производстве. Зачем же он применяется?</p></a>
                </div>

                <div class="hidden-xs hidden-sm col-md-2 col-md-offset-3 col-lg-2 col-md-offset-3 article art4">
                    <img src="{% static 'images/s4.jpg' %} " width="310px" height="213px" alt="">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1 article art4">
                    <h4>﻿Свадебные ложки.
</h4>
                    <a href="{% static 'spoon.html' %}" target="_blank"><p>Волнительное событие - свадьба! Как много здесь традиций, а порой и суеверий. Среди всего прочего особую нишу занимают свадебные подарки. Что можно и нужно дарить, а чего молодожены не ждут от вас? В последнее время появилась массовая тенденция - дарить просто деньги. </p></a>
                </div>
                <div class="hidden-xs hidden-sm col-md-2 col-md-offset-3 col-lg-2 col-md-offset-3 article art5">
                    <img src="{% static 'images/garlic.jpg' %}" width="310px" height="213px" alt="">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1 article art5">
                    <h4>﻿Яровой чеснок
</h4>
                    <a href="{% static 'garlic.html' %}" target="_blank"><p> ﻿Если ваш чеснок гниет посреди зимы. Если высыхает до состояния одной шелухи. Или начинает пускать ростки. То вам стоит посмотреть в сторону ярового чеснока. Он менее распространен, чем свой озимый собрат.</p></a>
                </div>
                <div class="hidden-xs hidden-sm col-md-2 col-md-offset-3 col-lg-2 col-md-offset-3 article art6">
                    <img src="{% static 'images/eye.jpg' %}" width="310px" height="213px" alt="">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1 article art6">
                    <h4>﻿﻿Красота ресниц и бровей с касторовым маслом.
</h4>
                    <a href="{% static 'castor.html' %}" target="_blank"><p>Касторовое масло - это природное натуральное масло, получаемое из растения клещевина. Это замечательное вещество обладает рядом уникальных свойств, которые позволяют широко использовать его в промышленности и быту. </p></a>
                </div>
            </div>
        
    </div>
    <!-- end bodier -->
    <!-- begin footer row -->            
    <div class="row">
     <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                    
                </div>

                <div class="title-row col-xs-10 col-sm-10 col-md-9 col-lg-9">
                    КОНТАКТЫ
                </div>


    </div>

    <div class="footer row">
        
        <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-3 contacts">
            <div><img src="{% static 'images/home2.svg' %}" class="" alt="img"></div><div><span>LOCATION</span></div></br>Курган Курганская область</br>
            Россия</br>
            <div><img src="{% static 'images/konvert1.png' %}" class="" alt="img"></div><div><span>CONTACTS</span></div></br>
            <b>saturn721@gmail.com</b></br>
            страница в постоянной разработке
        </div>
        <form id="data" action="/contact/" method="post"></form>
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1 contacts">
            <ul class="contact-form">
                <li>
                    <label for="name">&nbsp;&nbsp;</label>
                    <input form="data" type="text" name="name" placeholder="Ваше имя" />
                    
                </li>
                
                <li>
                    <label for="email">&nbsp;&nbsp;</label>
                    <input id="email" form="data" type="email" name="mail" placeholder="Ваш email"/>
                    
                </li>
                
                <li>
                    <label for="theme">&nbsp;&nbsp;</label>
                    <input form="data" type="text" name="theme" placeholder="Тема сообщения"/>
                        
                </li>
                
                <li>
                    <label for="message">&nbsp;&nbsp;</label>
                    <textarea form="data" name="message" placeholder="Форма не работает" cols="40" rows="4"></textarea>                 
                </li>
                
                <li>
                    <button form="data" class="submit btn btn-link" type="submit" placeholder="Отправить" >Отправить</button>
                </li>
            </ul>
        </div>
    </div>
    <!-- end footer row -->

</div>      

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="{% static 'js/main.js' %}"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 {% endblock content %}   
</body>

    
</html>