{% load staticfiles %}

{% include 'message/index.html' %}











    {% block footer %}
	<!-- begin list -->
	<div class="list" class="row">
    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 rover"><p><h2>ИСТОРИИ О ТНЯХ МИНУВШИХ</h2></p></div>
	
		{% for post in posts %}
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blog">
    	<p>published: {{ post.created_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
	</div>
	<!-- end list -->
	{% endblock %}
</body>
 
</html>