@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Exo+2|Playfair+Display");
body {
  font-family: "Exo 2", serif;
  line-height: 1.7;
  padding-top: 52px;
  background-color: #C7BA91;
  background-image: url("../img/girls1.jpeg");
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-size: 100% auto;
  width: auto;
  backface-visibility: hidden;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: .96;
  z-index: 1001;

}

#page-preloader i {
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -35px 0 0 -35px;
  cursor: pointer;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  opacity: .8;
}

.navbar-header {
  margin-right: 0px !important;
}

.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #222222;
  box-shadow: 0px 0px .5px grey;
}

.form-control {
  border-radius: 16px;
  background-color: #C7BA91;
  border-color: transparent;
}

.jumbotron {
  background-repeat: no-repeat;
  margin: 0 0 0;
  background: transparent;
  color: #DDDDDD;
  text-align: left;
  overflow: hidden;
  padding-left: 15px !important;
}

.jumbotron h3, h1 {
  text-shadow: 0 0 2px white, 0 0 4px black, 0 0 7px #417CBB, 0 0 10px #417CBB;
}

.content {
  background-color: #BFBFBF;
}

.intro {
  color: #DDDDDD;
  margin-left: 0px;
  padding-left: 0px;
  text-shadow: 0 2px 2px black;
  font-size: 16px;
  text-align: justify;
  font-family: "Playfair Display", sans-serif;
  line-height: 24px;
  overflow: hidden;
}

.pro {
  overflow: auto;
  webkit-scrollbar: width 0;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.bodier {
  width: 100%;
  padding: 0px;
}

.text-info {
  text-shadow: 0 0 0 !important;
  text-align: left !important;
  font-size: 19.5px;
}

.line {
  display: block !important;
}

.main {
  margin-top: 15%;
}

.main:before {
  content: '\a0\a0\a0\a0мы\a0эфире:\a0 0xe1294c6c668e1b39438067a18f67fe82334ef38b \a0';
  width: 102%;
  position: relative;
  height: 34px;
  background-color: #DDDDDD;
  z-index: 1000;
  opacity: 0.6;
}

.line {
  overflow: hidden;
  height: 500px;
  border-radius: 6px;
  border: solid 0.1px #B3A679;
  box-shadow: 0px 0px 8px 5px #B3A679;
  background: #eab92d;
  background: -moz-linear-gradient(left, #B3A679 0%, #977E45 100%);
  background: -webkit-linear-gradient(left, #B3A679 0%, #977E45 100%);
  background: linear-gradient(to right, #B3A679 0%, #977E45 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=1 );
}

.done {
  transform: rotateY(0deg) !important;
  -o-transform: rotateY(0deg) !important;
  -ms-transform: rotateY(0deg) !important;
  -moz-transform: rotateY(0deg) !important;
  -webkit-transform: rotateY(0deg) !important;
  cursor: pointer;
  z-index: 1000;
  border: solid 0.1px #664D35 !important;
  box-shadow: 12px 0px 8px 5px #664D35 !important;
  position: absolute;
  background: #BBA89D !important;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  margin-left: 10px;
  overflow-y: scroll;
  animation: wid 0.2s linear forwards !important;
  -webkit-animation: wid 0.2s linear forwards;
  -moz-animation: wid 0.2s linear forwards;
  -o-animation: wid 0.2s linear forwards;
}

@-webkit-keyframes line1 {
  0% {
    text-shadow: 0px 13px 3px grey;
    font-weight: 100;
    line-height: 10;
  }
  25% {
    text-shadow: 0 10px 3px grey;
    font-weight: 200;
    line-height: 8;
  }
  50% {
    text-shadow: 0px 7px 3px grey;
    font-weight: 300;
    line-height: 6;
  }
  75% {
    text-shadow: 0px 4px 3px grey;
    font-weight: 400;
    line-height: 4;
  }
  100% {
    text-shadow: 0px 1px 3px grey;
    font-weight: 500;
    line-height: 2;
  }
}

@-moz-keyframes line1 {
  0% {
    font-weight: 100;
    line-height: 10;
  }
  25% {
    font-weight: 200;
    line-height: 8;
  }
  50% {
    font-weight: 300;
    line-height: 6;
  }
  75% {
    font-weight: 400;
    line-height: 4;
  }
  100% {
    font-weight: 500;
    line-height: 2;
  }
}

@-o-keyframes line1 {
  0% {
    font-weight: 100;
    line-height: 10;
  }
  25% {
    font-weight: 200;
    line-height: 8;
  }
  50% {
    font-weight: 300;
    line-height: 6;
  }
  75% {
    font-weight: 400;
    line-height: 4;
  }
  100% {
    font-weight: 500;
    line-height: 2;
  }
}

@-keyframes line1 {
  0% {
    font-weight: 100;
    line-height: 10;
  }
  25% {
    font-weight: 200;
    line-height: 8;
  }
  50% {
    font-weight: 300;
    line-height: 6;
  }
  75% {
    font-weight: 400;
    line-height: 4;
  }
  100% {
    font-weight: 500;
    line-height: 2;
  }
}

.done img {
  float: left;
  max-width: 70%;
}

.done p {
  animation: line1 1.5s linear forwards !important;
}

@-keyframes wid {
  0% {
    width: 10%;
  }
  10% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes wid {
  0% {
    width: 10%;
  }
  10% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@-moz-keyframes wid {
  0% {
    width: 10%;
  }
  10% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

@-o-keyframes wid {
  0% {
    width: 10%;
  }
  10% {
    width: 20%;
  }
  30% {
    width: 30%;
  }
  40% {
    width: 40%;
  }
  50% {
    width: 50%;
  }
  60% {
    width: 60%;
  }
  70% {
    width: 70%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}

.footer {
  padding-bottom: 32px;
}

.contacts div {
  margin-top: 10px;
  margin-left: 10px;
}

.contact-form {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.contact-form li {
  margin-top: 20px;
  margin-bottom: 20px;
}

input {
  outline: none;
  background-color: #BCAF89;
  border: 1px solid transparent;
  border-radius: 16px;
}

textarea {
  outline: none;
  background-color: #BCAF89;
  border: 1px solid transparent;
  border-radius: 16px;
}

.rover {
  text-align: center;
  padding-top: 20px;
  font-size: 24px;
}

.messages {
    color: white;
    list-style-type: none;
    position: absolute;

    top: 50%;
    font-size: 60px;
}

#back {
    font-size: 40px !important;
}

.instruction {
  padding: 0 40px 0 40px;
}

@media screen and (max-width: 320px) {
  .main {
    margin-top: 3%;
    line-height: 12px;
  }
}
