{% extends 'blog/base.html' %}
{% load staticfiles %}


{% block content %}


  <!-- begin container bodier -->
  <div class="container bodier">
        <!-- begin about container -->

        <div class="jumbotron text-center">

                 <h1 id="name-form">GoldenBloodGirls<sup>&copy;</sup></h1><h3>russian colonial corporation </h3>
            <!--hidden-xs-->
            <div><form action="/ru"><button class="submit btn-link" type="submit"><img id='flag' src="{% static 'img/russia-flag.png' %}" title='Русский язык' width = '18px' alt=""></button></form>  </div>
        </div>
        <div class="row intro">
                          <div class="hidden-xs col-md-4 col-sm-4 pro"><p> License fee artificial creatures administration American United Territories<br />
                License Bureau artificial intelligence European Union<br />
                The license Committee of artificial intelligence of the Chinese Union of Free Republics<br />
                License the Administration Colonials Total Siberia<br />
                All rights reserved General Declaration of copyright<br />
                Is not a public offertory<br />
                 <br/>Single line customer support - saturn@gmail.com Postfix verbal communication - *721</p>
                <h4 class="text-info">Pleasure of the future is available now!</h4>


                          </div>

                        <div class="hidden-xs col-md-8 col-sm-8"></div>
        </div>

        <div class="main row">
          <div tabindex="0" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 line blinds"><img src="{% static 'img/1.jpg' %}" class="img-responsive img-thumbnail" alt="Responsive image" /><p> We produce andy-chan from 2022 and we are a leader in the whole colonial space. The production uses only genetically similar materials. Vagina our andy-chan indistinguishable from natural Vudlera in all tests. You will be pleasantly surprised by the low cost of their services, plus a one-year warranty on the skin and hair.</p>
<p>
Equipping with the most modern system of artificial intelligence, will allow your toy completely to enter in society and perform not only sexy, but also simple household services. Round the clock technical support to help in the most difficult situation. Limitation of physical capacity in relation to the host makes our andy-chan is completely safe and obedient. </p>
<p>
In this case, it is not so in relation to your enemies and unwanted guests. Your andy-chan easily rid of persistent visitor and save your property from theft. During your absence can do household chores, and goes to sleep-tracking mode.  </p>
<p>
As you can see, our andy-chan is the best purchase for self-men, who does not want to spend huge budgets on the creation of a civilian family</p> </div>
          <div tabindex="0" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 line blinds"><img src="{% static 'img/2.jpg' %}" class="img-responsive img-thumbnail" alt="second" /><p>Now we are pleased to introduce the world to a new level, and generation  pregnantable chans. Yes, you heard right, we run capable of reproduction andy-chan. You will be able to plan your pregnancy girlfriend and live to watch the process. Follow the development of the fetus at all levels. Sexually available full adoption behavioral processes on the levels - "I was after a hard, I can not," before - "he did not threaten, to push deeper."

</p>
<p>
    If you wish andy-chan can to get pregnant at a convenient time and produce all the typical problems of pregnant women, toxicosis and tantrums to miscarriage. And when we arrive, our specialists will take birth in your presence. There are all known techniques of birth from Indian birth sitting, to home water birth. We guarantee the growth of the baby before the age of three months. Then you can pass it on regeneration. Please note that even during pregnancy, the other functions of our andy-chan may be reduced, or have an impact on the process of gestation only if you wish.

</p><p>
Never before toys is not allowed to know the joy of fatherhood in such realism! Hurry to pre-order at a special price.</p>
</div>
          <div tabindex="0" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 line blinds"><img src="{% static 'img/3.jpg' %}" class="img-responsive img-thumbnail" alt="third" /><p>All of our products are available in any human form. You can order one of the four human races. We can produce andy-chan on the metrics provided by you or according to the media content. Skin produced using genetically similar materials and are equipped with all the tactile reaction activity of normal human skin. Graphene skeleton with a lifetime warranty. Maximum energy independence up to three days. A full range of behavioral programming based on the emotional card.

</p>
<p>Full insurance for any accidents as a result of behavioral abnormalities. Our andy-chan love love the owner and are not inclined to self-knowledge. Lock existential aspirations in the main electronics level. Protection from malicious software content with free anti-virus proprietary. Blocker viral female shopping on the basis of limited mental activity.</p>

<p>Our program restyling makes available an individual approach to the design of any external and internal organs. A trade-in system will enable significant savings when replacing bored andy-chan. Fucks a new girl every year!</p></div>
          <div tabindex="0" class="col-xm-3 col-sm-3 col-md-3 col-lg-3 line blinds"><img src="{% static 'img/4.jpg' %}" class="img-responsive img-thumbnail" alt="fourth" /><p>Now, on the whole range of our products are available for pre-order. All the parameters you can pass in the form below. Please note that this is just a pre-order with no guarantees. Leave us your contact and we will contact with you as they become available to the release of the goods.
</p><p>
    Heed to the completion of the form. We supply the goods in the format "as described", additional editing you can do only once, when you will contact our manager. All options behavioral programming available upon software release in the product's release date. The price of the model is determined individually.

</p><p>
    This website is a form of advertising information. We reject the policy of equality of artificial intelligence. The use of human organs in the models excluded. Terms of Use and Disposal andy-chan, as well as reproductive and materials are restricted by local law. The Corporation reserves the right to update the software, without notice to the customer. All rights reserved.
 </div>
      </p>
		</div>
            <div class="row intro">
                          <div class="col-xs-12 hidden-md hidden-sm hidden-lg pro"><p> License fee artificial creatures administration American United Territories<br />
                License Bureau artificial intelligence European Union<br />
                The license Committee of artificial intelligence of the Chinese Union of Free Republics<br />
                License the Administration Colonials Total Siberia<br />
                All rights reserved General Declaration of copyright<br />
                Is not a public offertory<br />
                 <br/>Single line customer support - saturn@gmail.com Postfix verbal communication - *721</p>
                <h4 class="text-info">Pleasure of the future is available now!</h4>


                          </div>


        </div>

        <div class="row">

          <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 rover"><p><h2>INSTRUCTIONS FOR COMPLETING THE FORM</h2></p></div>
          <div class="row">
            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 instruction">
            <p> As mentioned earlier, the proper filling of the form will help us to design for you the most suitable andy-chan. Here we explain the filling of some items.

</p> <p>
    Item age does not affect the appearance of the toy. Each andy-chan has its own legend as a person has a biography. It is well to remember his life, even that did not live. And the age of the item just refers to the duration of the legend, for which your toy will understand their lives. Humanoid robots are well aware that they were humanoid robots and made a couple of months ago and the legend lived. However, the understanding of this information, a detailed deliberation and analysis, locked programming level. This is done with the sole purpose - can not be hidden from the person that he is someone else's toy, but it is possible to stop the realization of this fact.

</p><p>
It is possible to consider the choice of eye color eye color only. Especially this setting is easy to change with the help of contact lenses. Cost us only note that this option has some influence visual sensitivity matrix. If you do not care the color of your eyes andy-chan - choose a dark color, and it will be better seen in the dark.
</p><p>
We produce andy-chan in four races, meaning by this the only common types of appearance of human females. They are currently four - the European, African, Mongoloid (china) and Asian. More this setting affects the color of the skin, because the appearance is designed according to the most media content. </p>
            </div>
            <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6 instruction">
              <p>The hair color as any woman, including androids can change twice a day. But we recommend that you also choose a darker color. It is noticed that they are more durable and more resistant to multiple repainting. However, traditionally we create more naive behavior cards for carriers of blond hair. Here below is understood not naive mental abilities, but in the absence of a behavioral addiction entanglement psyche.

</p><p>
    The size of the breast is the most popular item. It is taken to mean that men are prone to larger sizes. In the case of andy-chan it affects the volatility. Here additional energy tanks can be arranged. Thus the desire for large breasts may be justified, although some impact on the cost model. However, we have not met men willing to save the boobs.

</p><p>
    The diameters of the pelvis and waist is difficult to comment on, but do not recommend too carried away by their difference. Worth to remember that what looks organically body of your lover, the longer it you do not get bored.

</p><p>
    Paragraph shoe size refers more to footfetishes. We do not see this enthusiasm is nothing wrong. Anyway, the man she loved to lick the heels better than the unloved boss. It seems that in some way the former can make up for the second.
 </p> <p><h2>welcome to future...</h2></p>
            </div>
          </div>
        </div>
  </div>
  <!-- end container bodier -->



  <div class="footer row">
  {% if errors %}
        <ul>
            {% for error in errors %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}


  <form id="data" action="/message/request.html" method="post">
    {% csrf_token %}
    <div class="col-xs-12 col-sm-12 col-md-3 contacts">

      <ul class="contact-form">
          <li>

          <label  class="col-form-label" for="age">&nbsp;&nbsp; Chose of age</label>

          <input form="data" id="age" class="form-control" type="number" size="3" name="age" min="18" max="50" value="{{ form.age }}" required>


        </li>
        <li>
          <label for="eye-color" class="col-form-label">&nbsp;&nbsp;Color eyes</label>

           <input form="data" class="form-control" type="color" value="#3c59e7" id="eye_color" name="eye_color" required>

        </li>
        <li><label for="sel1">&nbsp;&nbsp;&nbsp;&nbsp;Raсe</label>
                    <select class="form-control input-mini" id="rice" name="rice" value="{{ form.rice}}">
                      <option>Europe</option>

                      <option>Asia</option>

                      <option>Africa</option>

                      <option>China</option>
                    </select>
                    </li>

          <li>
            <label  class="col-form-label" for="boobs">&nbsp;&nbsp;Size of boobs</label>

          <input form="data" id="boobs" class="form-control" type="number" size="3" name="boobs" min="0" max="7" value="{{ form.boobs }}" required>
          </li>
      </ul>



    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 contacts">
    <ul class="contact-form">
          <li>
            <label  class="col-form-label" for="tail">&nbsp;&nbsp;Diameter of waist</label>

          <input form="data" id="tail" class="form-control" type="number" size="60" name="waist" min="35" max="80" value="{{ form.waist }}" required>
          </li>
          <li>
          <label for="hair-color" class="col-form-label">&nbsp;&nbsp;Color hair</label>

           <input form="data" class="form-control" type="color" value="#e0e0d8" id="hair_color" name="hair_color" required>

        </li>
          <li>
            <label  class="col-form-label" for="tail">&nbsp;&nbsp;Diamets of ass</label>

          <input form="data" id="taz" class="form-control" type="number" size="90" name="taz" min="60" max="120" value="{{ form.taz }}" required>
          </li>
          <li>
            <label  class="col-form-label" for="tail">&nbsp;&nbsp;Size of shoes</label>

          <input form="data" id="foot" class="form-control" type="number" size="35" name="foot" min="30" max="45" value="{{ form.foot }}" required>
          </li>
    </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 contacts">

      <ul class="contact-form">
        <li>
          <label for="name">&nbsp;&nbsp;</label>
          <input form="data" type="text" name="author" placeholder="Your name" value="{{ form.author }}" required />

        </li>
        <li>
          <label for="name">&nbsp;&nbsp;</label>
          <input form="data" type="text" name="title" placeholder="Country" value="{{ form.title }}" required />

        </li>

        <li>
          <label for="email">&nbsp;&nbsp;</label>
          <input form="data" id="email" type="email" name="email" placeholder="Your email" value="{{ form.email }}" required />

        </li>

        <li>
          <label for="message">&nbsp;&nbsp;</label>
          <textarea form="data" name="message" placeholder="Особые пожелания" cols="70" rows="4">{{ form.message }}</textarea>
        </li>
        <li>
        {{ form.as_p }}
         <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LdZYDAUAAAAAGAMz9NefClsPmsoxiiCbtdjn6wU"></div>
         </li>
         <li>

          <button form="data" class="submit btn btn-link" type="submit" placeholder="Send" >Send</button>
        </li>
      </ul>
      {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message }}
            </li>
        {% endfor %}
    </ul>
            {% endif %}

      </form>
    </div>






  {% endblock content %}

   {% block footer %}




   {% endblock %}
